--studyIDX
203
--input_field
rho
--predicted_scalar
ptw_scale
--interp_depth
3
--design_file
/data1/design_nc231213_Sn_MASTER.csv
--initialization_seed
203
--init_learnrate
1e-3
--batch_size
4
--total_epochs
250
--cycle_epochs
50
--train_batches
3000
--val_batches
1000
--continuation
--checkpoint
<CHECKPOINT>